show_description:
  default: true
  description: 'Show description from "About This Category" post'

show_mobile:
  default: true
  description: "Show banners on mobile"

show_subcategory:
  default: true
  description: "Show banners for subcategories"

show_category_logo:
  default: false
  description: "Show category logo uploded in category settings"

exceptions:
  default: ""
  type: list
  list_type: simple
  description: "Banner will not show for these categories NAMES. This is case sensitive."

categories:
  default: ""
  type: list
  description: |
    Banner will only show for these categories. Format: name:target.
    Accepted targets:
      all - named category and subcategories (default);
      no_sub - only the named category;
      only_sub - only subcategories of the named category.

show_category_icon:
  default: false
  description: "Show category icon from Discourse Category Icons component"
