show_description:
  default: true
  description: 'Show description from "About This Category" post'

show_mobile:
  default: true
  description: "Show banners on mobile"

show_subcategory:
  default: true
  description: "Show banners for subcategories"

hide_if_no_description:
  default: true
  description: "Hide banners if category description is not set"

exceptions:
  default: ""
  type: list
  list_type: simple
  description: "Banner will not show for these categories NAMES. This is case sensitive."

show_above_site_header:
  default: false
  type: bool
  description: "Display the banner in the above site header connector."

show_below_site_header:
  default: true
  type: bool
  description: "Display the banner in the below site header connector."

show_above_main_container:
  default: false
  type: bool
  description: "Display the banner in the above main container connector."